.main-content{
    width: 100%;
    margin-top: 75px;
}

.container-fluid{
    padding: 30px;
    padding-right:70px!important;
}

.content-container a{
    color: #009CDE;
}

.content-container .section{
    border-bottom: 1px solid rgba(49,77,100,0.2);
    padding-bottom: 20px;
    margin-bottom: 40px;
    padding-left: 30px;
    min-width: 400px;
}

.content-container fieldset{
    border:1px solid  rgba(49,77,100,0.2);
    position: relative;
    padding-bottom: 0;
    margin-bottom: 50px;
}
.content-container legend{
    position: relative;
    width: fit-content;
    top:-16px;
    left:10px;
    background-color: white;
}

.content-container .form-section{
    position: relative;
    top: -20px;
}
.content-container fieldset p{
    padding-left: 10px;
}

/* label color */
.input-field label {
    font-size: 12pt;
    color: #444444;
}

.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=tel]{
    border-bottom: 1px solid #A2AAAD;
    box-shadow: 0 1px 0 0 #A2AAAD;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=tel]:focus{
    border-bottom: 1px solid #3EA39E;
    box-shadow: 0 1px 0 0 #3EA39E;
}

.input-field:focus-within label {
    font-size: 12pt;
    color: #3EA39E;
}

.rte-editor-full{
    border: 1px solid #A2AAAD;
    margin-top: 10px;
    margin-bottom: 20px;
}

.rte-editor{
    padding: 0 20px 0 20px;
    min-height: 150px;
    margin: 0 15px 0 15px;
}

.rte-editor-full:focus-within{
    border: 2px solid #3EA39E;
}

.rte-editor-toolbar{
    border-bottom: 1px solid rgba(162,170,173,0.5);
}

.rte-editor-toolbar a{
    text-transform: none;
    color: black;
}

.form-section{
    padding:0 30px 0 30px;
}

.form-section label{
    font-size: 12pt;
    color: #444444;
}

.info-box {
    background: rgba(204,218,230, 0.3);
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.20);
    border: 1px inset rgba(49,77,100,0.1);
    color: #314D64;
    height: fit-content;
    padding: 0!important;
    margin: 0!important;
}

.info-box .info-box-content{
    padding: 20px;
}
.info-box i{
    font-size: 1.4rem;
}
.info-box .info-box-title{
    display: block;
    padding: 10px;
    border-bottom: 1px inset rgba(49,77,100,0.2);
    background: rgba(49,77,100,0.05);
    font-size: 13pt;
    font-weight: normal;
    font-family: Roboto, sans-serif;
}

.info-box .btn-small {
    margin-top: 20px;
}

.requirements ul li{
    margin-left: 40px!important;
    line-height: 2em;
}

.requirements li::marker{
    color: #3EA39E;
    content: "✦    ";
}

.requirements i{
}


.simple-radio-group{
    display: inline-block;
    margin: 20px 0 20px 0;
    font-weight: 500;
    padding-left:0!important;
}

.simple-radio-group .radio-title{
    display: inline-block;
    margin-right:20px;
}

.simple-radio-group label{
    margin-right:20px;
}

.form-divider{
    height: 30px;
}

.refresh-button{
    margin-right:0!important;
}

.btn-flat {
    color:#314D64;
    background-color: #fff;
}

.btn-flat:active, .btn-flat:focus{
    background: #fff!important;
    color: #009CDE;
}

.waves-effect.waves-psu .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(0, 156, 222, 0.25);
}



.form-dropdown-button, .form-dropdown-button:focus, .form-dropdown-button:active{
    border: none;
    background: transparent;
    height: fit-content;
}

.assignment-box{
    border-top: 2px solid rgba(62,163,158,0.3);
    padding-top: 20px!important;
    margin-bottom: 30px;
}

.assignment-box:first-of-type{
    padding-top: 0!important;
    border-top: none;
}

.delete-button{
    color: #314D64;
}

.delete-button:hover{
    color: #3EA39E;
}

.checkbox-row .simple-radio-group{
    margin-top: 0;
    padding-top: 0;
}

.checkbox-row .radio-title{
    font-size: 0.9em;
    display: block;
    margin-bottom: 10px;
}

.checkbox-row label{
    display: inline-block;
}

.checkbox-row [type="checkbox"]+span:not(.lever){
    height:15px;
    line-height: 13px;
    padding-left:25px;
}

.checkbox-row [type="checkbox"].filled-in:checked+span:not(.lever):before{
    top:-3px;
    left:0px;
    width: 7px;
    height: 12px;
}

.checkbox-row [type="checkbox"].filled-in:checked+span:not(.lever):after,
.checkbox-row [type="checkbox"].filled-in+span:not(.lever):after{
    width: 15px;
    height: 15px;
}

.office-hours-row{
    width: 100%;
    display: block;
}

h4.oh-title{
    padding-top: 30px!important;
}

/*#syllabus-generator .oh-fields {*/
/*    border-top: 2px solid rgba(62, 163, 158, 0.3);*/
/*    padding-top: 30px !important;*/
/*}*/

.schedule-button{
    margin-top: 15px;
}

.schedule-p{
    padding-left: 0!important;
}

/*table.table th:first-of-type{*/
/*    padding-right:60px;*/
/*    font-size: 12pt;*/
/*    vertical-align: middle;*/
/*    padding-left: 30px;*/
/*}*/

table.table .reg-col{
    width: 20%;
}

table.table input{
    height:2rem!important;
    border-bottom: none!important;
    text-align: right;
    width: 75% !important;
    margin-right:5% !important;
    margin-bottom:0!important;
    background-color: rgba(248, 249, 250, 1) !important;
}

table.table label{
    font-size: 9pt;
}

table.table th{
    font-weight: bold;
    font-size: 11pt;
}

table.table th, table.table td{
    padding:0.5rem;
    vertical-align: center!important;
}

table.table {
    border:none;
}

table.table .hide{
    /*visibility: collapse;*/
    display: table-cell!important;
    opacity: 30%;
    color: #6c757d;
    background-color: #f8f9fa;
}
table.table .hide input,
table.table .hide input:disabled{
    border-bottom: none!important;
    color: #fff;
}

.policy-header{
    background-color: #0c5460;
}

.policy-list-item {
    border-bottom: 1px solid rgba(49,77,100,0.1);
    margin: 0;
    padding: 20px 10px 10px 20px;
}

#course-policies  .form-section,
#services .form-section {
    padding-left: 0;
    padding-right: 0;
}

#course-policies .form-section .intro-info,
#services .form-section .intro-info{
    padding-left: 35px;
    padding-right: 35px;
}

.policy-list-item:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.policy-list-item .col-sm-11{
    padding: 0 .75rem;
}

.policy-list-item .col-sm-1{
    padding-right: .75rem;
}

.policy-list-item .policy-box{
    border:0px solid rgba(49,77,100,0.2);
    /*margin-left:10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding: 20px;*/
}

.policy-list-item .policy-box label{
    font-size: 11pt;
}

.policy-list-item .policy-box p{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.policy-list-item .emph{
    font-weight: bold;
}

.policy-list-item .policy-box li{
    list-style-type: disc;
    margin-left: 35px;
    margin-top: 5px;
}

.content-container a.btn-large{
    color: #fff!important;
    height: fit-content;
}
.content-container a.btn-large:hover{
    color:#fff;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
}

.content-container .startOver{
    color: #BC204B!important;
    width: fit-content;
    box-shadow: none;
    text-align: right;
    float: right;
    line-height: 20pt;
}

.content-container .startOver:hover,
.content-container .startOver:active{
    background-color: #BC204B!important;
    color: #fff!important;
}

.content-container .buildHeader{
    display: inline-block;
    width: fit-content!important;
}

.content-container .modal{
    width: 50%;
    height: fit-content;
}
.content-container .modal .modal-content{
    border-radius: 0;
}
.content-container .modal .modal-content p{
    padding: 10px 0 0 0!important;
}
.content-container .modal .modal-footer{
    background: white;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    height: fit-content;
}
.content-container .modal .btn-flat.cancel-clear{
    background: #BC204B;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.content-container .modal .btn-flat.cancel-clear:hover,
.content-container .modal .btn-flat.cancel-clear:active {
    background: #de3866;
}
.content-container .modal .btn-flat.confirm-clear{
    background: #3EA39E;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.content-container .modal .btn-flat.confirm-clear:hover,
.content-container .modal .btn-flat.confirm-clear:active{
    background: #57cbc5;
}

.content-container .devNotes{
    background: rgba(0,0,0, 0.05);
    padding: 30px 30px 10px 0;
}

.content-container .pointsTotal{
    font-size: 16px;
    height:3rem;
}

.content-container .pointsTotal span{
    display: block;
}

