nav {
    background: #314D64;
    color: #fff;
    padding: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.row.top-bar{
    margin-bottom: 0;
}

.top-bar h1{
    font-size: 18pt;
    display: inline-block;
    padding: 10px 0 0 20px;
    margin: 0;
    align-self: stretch;
}

.top-bar .bar-left{
    display: flex;
    align-items: center;
}

.top-bar .bar-right{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.top-bar button{
    background: none;
    border:none;
    color: white;
    padding: 10px;
}

.top-bar button:hover{
    background: rgba(250,250,250,0.1);
    border-radius: 30px;
}